@import "_vars";
@import "_global";

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.section-line {
  border-bottom: 1px solid rgba($color_light_grey, .5);
}

.title {
  font-family: Georgia, sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 38px;
  text-align: center;
  color: $color_link_hover;
}

.header-top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 40px;
}

.header-top-inner {
  border: 2px solid $color_gold;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  font-family: "Georgia", sans-serif;

  .header-title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 200px;
    line-height: 227px;
    margin: auto;
  }

  .header-text {
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -12px;

    &:after, &:before {
      content: "";
      border-top: 2px solid $color_gold;
      width: 100%;
    }

    &:after {
      margin-left: 30px;
    }

    &:before {
      margin-right: 30px;
    }
  }
}

.menu {
  border-bottom: 1px solid rgba($color_light_grey, .5);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-list-link {
    padding: 24px 10px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin: 0 6px;
    color: $color-link;
    border-bottom: 4px solid transparent;
    transition: all .5s;

    &:hover {
      border-bottom: 4px solid $color_gold;
      color: $color_link_hover;
    }
  }
}

.reason {
  padding: 80px 0 0;
}

.reason-title {
  margin-bottom: 22px;
}

.reason-text {
  overflow: hidden;
  transition: height 200ms;
}

.reason-link {
  text-align: right;

  a {
    color: $color_gold;
    margin-bottom: 36px;
    font-weight: 700;
  }
}

.reason-statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason-statistics-num {
  margin-top: 33px;
  color: $color_link_hover;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.reason-statistics-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 0;
  color: $color_link;
}

.about {
  padding: 80px 0 0;

  .about-title {
    margin-bottom: 13px;
  }

  .about-text {
    margin-bottom: 72px;
  }
}

.about-item {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: right;

  &:nth-child(even) {
    background-position: left;

    .about-box {
      margin-left: auto;
    }
  }

  .about-box {
    padding: 33px 40px 33px;
    background-color: white;
    max-width: 470px;
    position: relative;

    .about-box-title {
      font-family: Georgia, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 25px;
      color: $color_link_hover;
    }

    .about-box-text {
      margin-bottom: 20px;
    }

    &:after, &:before {
      content: "";
      position: absolute;
      width: 33px;
      height: 33px;
    }

    &:after {
      border-bottom: 2px solid $color_gold;
      border-right: 2px solid $color_gold;
      right: 19px;
      bottom: 19px;
    }

    &:before {
      background-image: url(../images/decor-right.svg);
      top: 19px;
      left: 19px;
    }
  }
}

.about-item {
  &:nth-child(even) {
    .about-box {
      &:before {
        right: 19px;
        left: auto;
        background-image: none;
        border-top: 2px solid $color_gold;
        border-right: 2px solid $color_gold;
      }

      &:after {
        left: 19px;
        border-right: none;
        border-left: 2px solid $color_gold;
      }
    }
  }
}

.photo {
  padding: 80px 0;

  .photo-title {
    margin-bottom: 42px;
  }

  .photo-text {
    position: relative;
    padding-bottom: 48px;
    margin-bottom: 56px;

    &:after {
      content: "";
      position: absolute;
      width: 270px;
      height: 1px;
      background-color: rgba($color_light_grey, .5);
      bottom: 0;
      margin: 0 auto;
    }
  }
}

.photo-slider {
  max-width: 640px;
  margin: 0 auto;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color_gold;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  padding: 9px 6px 6px;
  outline: none;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}

.footer {
  background: $color_footer;
  padding: 55px 0 32px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  width: 140px;
}

.footer-item-company {
  width: 300px;
  padding-left: 180px;
}

.footer-item-blog {
  width: 300px;
}

.footer-item-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: $color_link_hover;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-item-list {
  .footer-item-link {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
    color: $color_text;
  }
}

.footer-item-link-social{
  padding-left: 28px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
  }
}

.footer-item-link-message::before{
  background-image: url(../images/ico-link.svg);
  width: 17px;
  top: 1px;
}
.footer-item-link-facebook::before{
  background-image: url(../images/ico-facebook.svg);
}
.footer-item-link-instargam::before{
  background-image: url(../images/ico-instagram.svg);
}
.footer-item-link-youtube::before{
  background-image: url(../images/ico-youtube.svg);
}
.footer-item-link-email::before{
  background-image: url(../images/ico-email.svg);
  height: 13px;
  top: 2px;
}

.footer-copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

@import "_media";